<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Administración - Paco Mérselo</title>
  <link rel="shortcut icon" href="../../../assets/img/scenery/logo.jpg">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
  <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
</head>

<body id="page-top">
<div id="wrapper">
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/index">Paco Mérselo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>{{#roleUser}}<a>Bienvenido, {{username}}</a>{{/roleUser}}{{#roleRestaurant}}<a>Gestiona tu restaurante</a>{{/roleRestaurant}}{{#roleAdmin}}<a>Pagina de Administración</a>{{/roleAdmin}}
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
              {{#viewer}}
              <li class="nav-item"><a class="nav-link active" href="/index">Inicio</a></li>
              <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
              <li class="nav-item"><a class="nav-link" href="/cart">El carrito</a></li>
              <li class="nav-item"><a class="nav-link" href="/login">Iniciar Sesión</a></li>
              {{/viewer}}
              {{#roleUser}}
              <li class="nav-item"><a class="nav-link active" href="/index">Inicio</a></li>
              <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
              <li class="nav-item"><a class="nav-link" href="/cart">El carrito</a></li>
              <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow">
                  <a class=" dropdown-toggle nav-link " aria-expanded="false" data-bs-toggle="dropdown" href="'#">
                    <span class="d-none d-lg-inline me-2 text-gray-600 small" >{{username}}</span>
                  </a>
                  <div class="dropdown-menu shadow dropdown-menu-end animated--grow in" >
                    <a class ="dropdown-item " href="/profile">
                      <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400">
                      </i>
                      &nbsp;Perfil
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class ="dropdown-item "><form action="/logout" method="post">
                      <input type="hidden" name="_csrf" value="{{token}}"/>
                      <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400">
                      </i>
                      <button class="btn btn-sm"  type="submit">CERRAR SESIÓN</button>
                    </form></a>
                  </div>
                </div>
              </li>
              {{/roleUser}}
              {{#roleAdmin}}
              <li class="nav-item"><a class="nav-link " href="/index">Inicio</a></li>
              <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
              <li class="nav-item"><a class="nav-link">
                    <li class ="nav-link "><form action="/logout" method="post">
                      <input type="hidden" name="_csrf" value="{{token}}"/>
                      <button class="btn btn-sm" type="submit">Cerrar Sesión</button>
                    </form></li>
            </ul>
                 </div>
                </div>
              </li>
              {{/roleAdmin}}
              {{#roleRestaurant}}
              <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow">
                  <a class=" dropdown-toggle nav-link " aria-expanded="false" data-bs-toggle="dropdown" href="'#">
                    <span class="d-none d-lg-inline me-2 text-gray-600 small" >{{username}}</span>
                  </a>
                  <div class="dropdown-menu shadow dropdown-menu-end animated--grow in" >
                    <a class ="dropdown-item " href="/restaurantControl">
                      <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400">
                      </i>
                      &nbsp;Restaurante
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class ="dropdown-item "><form action="/logout" method="post">
                      <input type="hidden" name="_csrf" value="{{token}}"/>
                      <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400">
                      </i>
                      <button class="btn btn-sm"  type="submit">CERRAR SESIÓN</button>
                    </form></a>
                  </div>
                </div>
              </li>
              {{/roleRestaurant}}
            </ul>
          </div>
        </div>
      </nav>
      <br>
      <br>
      <br>
      <br>
      <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
          <h3 class="text-dark mb-0">P&aacute;gina de Administraci&oacute;n de Paco M&eacute;rselo</h3>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Pedidos Realizados</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Usuario</th>
                      <th>Productos</th>
                      <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#orders}}
                    <tr>
                      <td>{{orderNumber}}</td>
                      <td>{{user.username}}</td>
                      <td>
                        {{#dishes}}
                        <ul>
                          <li>{{restaurant.name}}</li>
                          <li>{{name}}</li>
                          <li>{{price}}</li>
                        </ul>
                        {{/dishes}}
                      </td>
                      <td>{{price}}€</td>
                    </tr>
                    {{/orders}}
                    <tr></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card shadow mb-4">
              <ul class="list-group list-group-flush"></ul>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Restaurantes</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Email</th>
                      <th>Ver Carta</th>
                      <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#restaurants}}
                    <tr>
                      <td>{{name}}</td>
                      <td>{{email}}</td>
                      <td><button class="btn btn-warning btn-sm d-block w-100" style="margin: 10px" onclick="location.href='/restaurant/{{name}}'" type="button">CARTA</button></td>
                      <td><button class="btn btn-danger btn-sm d-block w-100" style="margin: 10px" onclick="location.href='/deleteRestaurant/{{name}}'" type="button">BORRAR</button></td>
                    </tr>
                    {{/restaurants}}
                    <tr></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card shadow mb-4">
              <ul class="list-group list-group-flush"></ul>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Usuarios Registrados</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Username</th>
                      <th>Nombre&nbsp;</th>
                      <th>Email</th>
                      <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#users}}
                    <tr>
                      <td>{{username}}</td>
                      <td>{{name}}</td>
                      <td>{{email}}</td>
                      <td><button class="btn btn-danger btn-sm d-block w-100" style="margin: 10px" onclick="location.href='/deleteUser/{{username}}'" type="button">BORRAR</button></td>
                    </tr>
                    {{/users}}
                    <tr></tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card shadow mb-4">
              <ul class="list-group list-group-flush"></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/theme.js"></script>
<footer class="page-footer dark">
  <div class="container">
    <div class="row justify-content-lg-evenly">
      <div class="col-sm-3">
        <h5>Resumen</h5>
        <ul>
          <li><a href="/index">Inicio</a></li>
          <li><a href="/login">Iniciar sesion</a></li>
          <li><a href="/restaurant">Los Restaurantes</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Sobre nosotros</h5>
        <ul>
          <li><a href="/nosotros">Conócenos</a></li>
          <li><a href="/reviews">Reviews</a></li>
          <li><a href="/faq">FAQ</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Soporte y Cuenta</h5>
        <ul>
          <li><a href="/profile">Mi Perfil</a></li>
          <li><a href="/register">Regístrate</a></li>
          <li><a href="/registerRestaurant">Registra un restaurante</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2022 Paco Mérselo.</p>
  </div>
</footer><script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="../assets/js/vanilla-zoom.js"></script>
<script src="../assets/js/theme.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
</body>

</html>