<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>El carrito - Paco M&eacute;rselo</title>
    <link rel="shortcut icon" href="../../assets/img/scenery/logo.jpg">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../../assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../../assets/css/untitled.css">
    <link rel="stylesheet" href="../../assets/css/vanilla-zoom.min.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/index">Paco Mérselo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>{{#logged}}<a>Bienvenido, {{username}}</a>{{/logged}}
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="/index">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
                <li class="nav-item"><a class="nav-link" href="/cart">El carrito</a></li>
                {{^logged}}
                <li class="nav-item"><a class="nav-link" href="/login">Iniciar Sesión</a></li>
                {{/logged}}
                {{#logged}}
                <li class="nav-item"><a class="nav-link" href="/profile">Perfil</a></li>
                <li class="nav-item"><form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <button class="nav-link" type="submit">CERRAR SESIÓN</button>
                </form></li>
                {{/logged}}
            </ul>
        </div>
    </div>
</nav>
<main class="page shopping-cart-page">
    <section class="clean-block clean-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-muted">Tú carrito {{#now}}está vacío{{/now}}</h2>
                <p>Tus platos favoritos están esperando a que los pidas. ¿A qué estás esperando?</p>
            </div>
            <div class="content">
                <div class="row g-0">
                    {{^vacio}}
                    {{#cart}}
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                            {{#dishesList}}
                            <div class="product">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3">
                                        <div class="product-image" ><img class="img-fluid d-block mx-auto image" onclick="location.href='/restaurant'" src="assets/img/dishes/{{id}}.jpg"></div>
                                    </div>
                                    <div class="col-md-5 product-info"><h1 onclick="location.href='/restaurant'" class="product-name" >{{name}}</h1>
                                        <div class="product-specs">
                                            <div><span>Descripción:</span><span class="value">{{description}}</span></div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2 price"><span>{{price}}€</span></div>
                                </div>
                                <button class="btn btn-outline-warning d-block w-100" style="margin: 10px" onclick="location.href='/deletecart/{{id}}'" type="button">BORRAR</button>
                            </div>
                            {{/dishesList}}
                            <button class="btn btn-danger d-block w-50" style="margin: 10px" onclick="location.href='/deleteCart'" type="button">BORRAR TODO EL CARRITO</button>
                        </div>

                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Resumen</h3>
                            <h4><span class="text">Comida</span><span class="price">{{price}}€</span></h4>
                            <h4><span class="text">Envío</span><span class="price">5€</span></h4>
                            <h4><span class="text">Total</span><span class="price">{{total}}€</span></h4><button class="btn btn-warning btn-lg d-block w-100" onclick="location.href='/payment'"type="button">Pagar</button>
                        </div>
                    </div>
                </div>
                {{/cart}}
                {{/vacio}}
                {{#vacio}}
                <button class="btn btn-warning d-block w-100"  onclick="location.href='/restaurant'" type="button">¡Descubre nuestros restaurantes y haz un pedido!</button>
                {{/vacio}}
            </div>
        </div>
    </section>
</main>
<footer class="page-footer dark">
    <div class="container">
        <div class="row justify-content-lg-evenly">
            <div class="col-sm-3">
                <h5>Resumen</h5>
                <ul>
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/login">Iniciar sesion</a></li>
                    <li><a href="/restaurant">Los Restaurantes</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Sobre nosotros</h5>
                <ul>
                    <li><a href="/nosotros">Conócenos</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Soporte y Cuenta</h5>
                <ul>
                    <li><a href="/profile">Mi Perfil</a></li>
                    <li><a href="/register">Regístrate</a></li>
                    <li><a href="/forgottenPassword">¿Olvidaste tu contraseña?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2022 Paco Mérselo.</p>
    </div>
</footer>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="../../assets/js/vanilla-zoom.js"></script>
<script src="../../assets/js/theme.js"></script>
</body>

</html>