<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Carta - Paco M&eacute;rselo</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="../https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../assets/css/untitled.css">
    <link rel="stylesheet" href="../assets/css/vanilla-zoom.min.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/index">Paco Mérselo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
                <li class="nav-item"><a class="nav-link" href="/carrito">El carrito</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page catalog-page">
    <section class="clean-block clean-catalog dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-muted">La Carta</h2>
                <p>Mira aquí la carta de tu nuevo restaurante favorito.</p>
            </div>
            <div class="content">
                <div class="row justify-content-evenly">
                    <div class="col-md-9">
                        <div class="products">
                            <ul>
                            <div class="row g-0">
                                {{#dishes}}
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="clean-product-item">
                                        <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
                                        <div class="product-name"><h3>{{name}}</h3></div>
                                        <div class="about">
                                            <div class="description"><a>{{description}}</a></div>
                                            <div class="price">
                                                <h3>{{price}}</h3>
                                            </div>

                                            <br><button class="btn btn-outline-warning d-block w-100 " onclick="location.href='/carrito'" type="button">añadir al carrito</button>
                                            <button class="btn btn-outline-warning d-block w-100 " onclick="location.href='/restaurant/{{id1}}/updateDish/{{id}}'" type="button">ACTUALIZAR</button>
                                        </div>
                                    </div>
                                </div>
                                {{/dishes}}
                            </div>
                            </ul>
                            <button class="btn btn-info d-block w-100 " onclick="location.href='/{{id1}}/registerDish'" type="button">Registra un plato ahora.</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="page-footer dark">
    <div class="container">
        <div class="row justify-content-lg-evenly">
            <div class="col-sm-3">
                <h5>Get started</h5>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/restaurant">Los restaurantes</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>About us</h5>
                <ul>
                    <li><a href="/nosotros">Company Information</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Support</h5>
                <ul>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/profile">Mi Perfil</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2022 Paco Mérselo.</p>
    </div>
</footer>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="../assets/js/vanilla-zoom.js"></script>
<script src="../assets/js/theme.js"></script>
</body>

</html>