<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Carta - Paco M&eacute;rselo</title>
    <link rel="shortcut icon" href="../../assets/img/scenery/logo.jpg">
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="../../assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="../../https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../../assets/css/untitled.css">
    <link rel="stylesheet" href="../../assets/css/vanilla-zoom.min.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/index">Paco Mérselo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>{{#logged}}<a>Bienvenido, {{username}}</a>{{/logged}}
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="/index">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
                <li class="nav-item"><a class="nav-link" href="/cart">El carrito</a></li>
                {{^logged}}
                <li class="nav-item"><a class="nav-link" href="/login">Iniciar Sesión</a></li>
                {{/logged}}
                {{#logged}}
                <li class="nav-item"><a class="nav-link" href="/profile">Perfil</a></li>
                <li class="nav-item"><form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <button class="nav-link" type="submit">CERRAR SESIÓN</button>
                </form></li>
                {{/logged}}
            </ul>
        </div>
    </div>
</nav>
<main class="page catalog-page">
    <section class="clean-block clean-catalog dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-muted">La Carta</h2>
                <p>Mira aquí la carta de tu nuevo restaurante favorito.</p>
            </div>
            <div class="row justify-content-center">
            <div class="col-md-12 col-lg-11">
                <form class="centrar" method="post" action="/restaurant/{{id1}}/search">
                    <div><center><input class="border-dark d-block w-50 border rounded-pill" width= 900px style="margin:20px" type="text" placeholder="  Buscar Plato" name="name"></center></div>
                </form>
            </div>
                {{#filter}}
                <div class="centrar"><h2><strong>{{stringFilter}}</strong></h2></div>
                {{/filter}}
        </div>
            <div class="content">
                <div class="row justify-content-evenly">
                    <div class="row">
                        <div class=" col-12 col-md-2">
                                <br>
                                <h4 class="text-center">Filtrar por</h4>
                                <hr>
                            <form id="price-range-form" method="post" action="/restaurant/{{id1}}/filter">
                                <div class="centrar"><h5>Tipo de Plato:</h5></div>
                                <div id="product1" class="card-body">
                                    {{#types}}
                                    <input type="checkbox" value="{{.}}" id="product-1-1" name="type" >{{.}}<br/>
                                    {{/types}}
                                    <input type="checkbox" value="TODOS" name="type" checked hidden><br/>
                                </div>
                                <br>
                                <div class="centrar"><h5>Precio:</h5></div>
                                <div class="card-body">
                                        <label for="min-price" class="form-label">Precio Mínimo: </label>
                                        <span id="min-price-txt">0€</span>
                                        <input type="range" class="form-range" min="0" max="99" id="min-price" step="1" value="0" name="min">
                                        <label for="max-price" class="form-label">Precio Máximo: </label>
                                        <span id="max-price-txt">100€</span>
                                        <input type="range" class="form-range" min="1" max="100" id="max-price" step="1" value="100" name="max">
                                </div>
                                <input class="btn btn-warning" type="submit">
                                <button class="btn btn-warning" onclick="location.href='/restaurant/{{id1}}'" type="button">Reset</button>
                            </form>

                        </div>
                    <div class="col-md-9">
                        <div class="products">
                            {{#empty}}
                            <div class="centrar"><h4><strong>{{stringEmpty}}</strong></h4></div>
                            {{/empty}}
                            <ul>
                            <div class="row g-0">
                                {{#dishes}}
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="clean-product-item">
                                        <div class="image"><img class="img-fluid d-block mx-auto" src="../../assets/img/dishes/{{id}}.jpg" alt="lol"></div>
                                        <div class="product-name"><h3>{{name}}</h3></div>
                                        <div class="about">
                                            <div class="description"><a>{{{description}}}</a></div>
                                            <div class="price">
                                                <h3>{{price}}€</h3>
                                            </div>
                                            <br>
                                        </div >
                                        <div class="description"><h6><u>{{type}}</u></h6></div><br>
                                        <div>
                                        <button class="btn btn-outline-warning d-block w-100" style="margin: 10px" onclick="location.href='/restaurant/{{id1}}/deleteDish/{{id}}'" type="button">BORRAR</button>
                                        <button class="btn btn-outline-warning d-block w-100 " style="margin: 10px" onclick="location.href='/restaurant/{{id1}}/updateDish/{{id}}'" type="button">ACTUALIZAR</button>
                                        <button class="btn btn-warning d-block w-100  " style="margin: 10px" onclick="location.href='/addcarrito/{{id}}'" type="button">Añadir al carrito</button>
                                        </div>
                                    </div>
                                </div>
                                {{/dishes}}
                            </div>
                            </ul>
                            <button class="btn btn-info d-block w-100 " onclick="location.href='/{{id1}}/registerDish'" type="button">Registra un plato ahora.</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="page-footer dark">
    <div class="container">
        <div class="row justify-content-lg-evenly">
            <div class="col-sm-3">
                <h5>Resumen</h5>
                <ul>
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/login">Iniciar sesion</a></li>
                    <li><a href="/restaurant">Los Restaurantes</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Sobre nosotros</h5>
                <ul>
                    <li><a href="/nosotros">Conócenos</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Soporte y Cuenta</h5>
                <ul>
                    <li><a href="/profile">Mi Perfil</a></li>
                    <li><a href="/register">Regístrate</a></li>
                    <li><a href="/forgottenPassword">¿Olvidaste tu contraseña?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2022 Paco Mérselo.</p>
    </div>
</footer>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="../../assets/js/vanilla-zoom.js"></script>
<script src="../../assets/js/theme.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js'></script>
<script src="../../assets/js/script.js"></script>
</body>

</html>