<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Actualizado con &Eacute;xito - Paco Mérselo</title>
    <link rel="shortcut icon" href="../../../assets/img/scenery/logo.jpg">
    <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../../../assets/css/vanilla-zoom.min.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/index">Paco Mérselo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
                <li class="nav-item"><a class="nav-link" href="/cartInConstruction">El carrito</a></li>
                <li class="nav-item"><a class="nav-link active" href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page gallery-page">
    <section class="clean-block clean-gallery dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-muted">Plato borrado con Éxito del Carrito</h2>
                <p><button class="btn btn-info btn-lg" onclick="location.href='/carrito'" type="button">Haz click aqu&iacute; para volver atr&aacute;s</button></p>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" ></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" ><img class="w-100 d-block" src="../../../assets/img/scenery/deletebien.png"></a></div>
                <div class="col-md-6 col-lg-4 item"><a class="lightbox" ></a></div>
            </div>
        </div>
    </section>
</main>
<footer class="page-footer dark">
    <div class="container">
        <div class="row justify-content-lg-evenly">
            <div class="col-sm-3">
                <h5>Resumen</h5>
                <ul>
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/login">Iniciar sesion</a></li>
                    <li><a href="/restaurant">Los Restaurantes</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Sobre nosotros</h5>
                <ul>
                    <li><a href="/nosotros">Conócenos</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Soporte y Cuenta</h5>
                <ul>
                    <li><a href="/profile">Mi Perfil</a></li>
                    <li><a href="/register">Regístrate</a></li>
                    <li><a href="/forgottenPassword">¿Olvidaste tu contraseña?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2022 Paco Mérselo.</p>
    </div>
</footer>
<script src="../../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="../../../assets/js/vanilla-zoom.js"></script>
<script src="../../../assets/js/theme.js"></script>
</body>

</html>