<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FAQ - Paco Mérselo</title>
    <link rel="shortcut icon" href="assets/img/scenery/logo.jpg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/index">Paco Mérselo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>{{#logged}}<a>Bienvenido, {{username}}</a>{{/logged}}
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                {{^logged}}
                <li class="nav-item"><a class="nav-link active" href="/index">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
                <li class="nav-item"><a class="nav-link" href="/cart">El carrito</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Iniciar Sesión</a></li>
                {{/logged}}
                {{#logged}}
                <li class="nav-item"><a class="nav-link active" href="/index">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
                <li class="nav-item"><a class="nav-link" href="/cart">El carrito</a></li>
                <li class="nav-item dropdown no-arrow">
                    <div class="nav-item dropdown no-arrow">
                        <a class=" dropdown-toggle nav-link " aria-expanded="false" data-bs-toggle="dropdown" href="'#">
                            <span class="d-none d-lg-inline me-2" text-gray-600 small > {{username}}</span>
                        </a>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--grow in" >
                            <a class ="dropdown-item " href="/profile">
                                <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400">

                                </i>
                                &nbsp;Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class ="dropdown-item "><form action="/logout" method="post">
                                <input type="hidden" name="_csrf" value="{{token}}"/>
                                <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400">
                                </i>
                                <button class="btn btn-sm"  type="submit">CERRAR SESIÓN</button>
                            </form></a>
                        </div>
                    </div>


                </li>
                {{/logged}}
            </ul>
        </div>
    </div>
</nav>
<main class="page faq-page">
    <section class="clean-block clean-faq dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-muted">FAQ</h2>
                <p>Aquí encontrarás preguntas frecuentes de nuestros clientes.</p>
            </div>
            <div class="block-content">
                <div class="faq-item">
                    <h4 class="question">¿Cuánto cuesta el envío?</h4>
                    <div class="answer">
                        <p>El envío cuesta 5€ de manera estándar. Da igual el pedido y la cantidad.</p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">¿Quiénes son los repartidores?</h4>
                    <div class="answer">
                        <p>Los repartidores son mensajeros independientes de 'Paco Mérselo' conectados a nuestra plataforma. Son personas que disponen de tiempo libre, vehículo y smartphone propio, y buscan sacarle el máximo rendimiento ayudándote a resolver tus gestiones del modo más rápido y eficaz.<br></p>
                    </div>
                </div>
                <div class="faq-item">
                    <h4 class="question">¿Tengo que dar una propina a los repartidores?<br></h4>
                    <div class="answer">
                        <p>¡Como quieras! Si crees que la merece, ¿por qué no? Los repartidores son libres de aceptar o no propinas.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="flex-shrink-0 page-footer dark">
    <div class="container d-lg-flex justify-content-lg-center">
        <div class="row justify-content-lg-evenly">
            <div class="col-sm-3">
                <h5>Resumen</h5>
                <ul>
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/login">Iniciar sesion</a></li>
                    <li><a href="/restaurant">Los Restaurantes</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Sobre nosotros</h5>
                <ul>
                    <li><a href="/nosotros">Conócenos</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Soporte y Cuenta</h5>
                <ul>
                    <li><a href="/profile">Mi Perfil</a></li>
                    <li><a href="/register">Regístrate</a></li>
                    <li><a href="/forgottenPassword">¿Olvidaste tu contraseña?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2022 Paco Mérselo.</p>
    </div>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/vanilla-zoom.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>