<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Paco M&eacute;rselo</title>

    <link rel="shortcut icon" href="assets/img/scenery/logo.jpg">


    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>
<script>
    function logout () {
        document.logout.submit()
    }
</script>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/index">Paco Mérselo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>{{#logged}}<a>Bienvenido, {{username}}</a>{{/logged}}
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="/index">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
                <li class="nav-item"><a class="nav-link" href="/cartInConstruction">El carrito</a></li>
                {{^logged}}
                <li class="nav-item"><a class="nav-link" href="/login">Iniciar Sesión</a></li>
                {{/logged}}
                {{#logged}}
                <li class="nav-item"><a class="nav-link" href="/profile">Perfil</a></li>
                <li class="nav-item"><form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <button class="nav-link" type="submit">CERRAR SESIÓN</button>
                </form></li>
                {{/logged}}
            </ul>
        </div>
    </div>
</nav>
<main class="page landing-page">
    <section class="clean-block clean-hero" style="background-image: url(&quot;assets/img/tech/P1110923.jpg&quot;);color: rgba(229, 218, 208, 0.8);">
        <div class="text">
            <h2 class="text-secondary">Del Cielo a tu Casa</h2>
            <p class="text-secondary">Nunca había sido tan fácil disfrutar de tu restaurante y platos favoritos desde tu casa.</p><button class="btn btn-outline-secondary btn-lg" onclick="location.href='/reviews'" type="button">Lo que dicen de nosotros</button>
        </div>
    </section>
    <section class="clean-block clean-info dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-muted" style="color: var(--bs-yellow);">¿Quieres saber más?</h2>
                <p>¿Has buscado algún restaurante para sorprender a tus amigos y que sirvieran a domicilio? Has venido al lugar indicado.</p>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6"><img class="img-thumbnail" src="assets/img/scenery/lomo-de-bacalao-gratinado-sobre-compota-de-tomates-ciruelas-y-pinones169.jpg"></div>
                <div class="col-md-6">
                    <h3>Conoce los restaurantes con los que trabajamos</h3>
                    <div class="getting-started-info">
                        <p>Como buenos amantes de la cocina y buena gastronomía, solo encontrarás aquellos lugares donde podrás conocer nuevos sabores, experiencias y crear nuevos recuerdos.</p>
                    </div><button class="btn btn-warning" onclick="location.href='/restaurant'" type="button">Descúbrenos</button>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-muted">Nuestra filosofía</h2>
                <p></p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="icon-diamond text-muted icon"></i>
                    <h4>Calidad</h4>
                    <p>Garantizamos la mejor calidad de los mejores restaurantes de la ciudad.&nbsp;</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-wallet text-muted icon"></i>
                    <h4>Desde cualquier presupuesto</h4>
                    <p>Queremos que cualquier persona pueda disfrutar de este gran placer. No importa el presupuesto, seguro que encontramos algo genial para ti.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-screen-smartphone text-muted icon"></i>
                    <h4>Atentos</h4>
                    <p>Nacimos siendo una pequeña familia y nuestro gran interés por el cliente. Si tienes alguna sugerencia, no dudes en contactarnos.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-refresh text-muted icon"></i>
                    <h4>El cambio</h4>
                    <p>Estamos en constante cambio agregando restaurantes nuevos que se han convertido en una debilidad para nosotros.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block slider dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-muted">Imágenes que hablan por sí solas</h2>
                <p>Compruébalo con tus propios ojos. Estos platos son una auténtica delicia.</p>
            </div>
            <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                <div class="carousel-inner">
                    <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/scenery/1645024215_502233_1645024724_sumario_normal.jpg" alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="assets/img/scenery/Alabaster-restaurante-Portada.jpg" alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="assets/img/scenery/torrezno.jpg" alt="Slide Image"></div>
                </div>
                <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                <ol class="carousel-indicators">
                    <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </section>
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-muted">Sobre Nosotros</h2>
                <p>Te puedes llegar a preguntar quiénes son las personas detrás de esta idea, de este proyecto. Somos estudiantes de ingeniería, apasionados de la buena comida. Y es que, después del estudio, ¿a quién no le apetece descansar viendo su serie favorita y disfrutando de su plato favorito de su restaurante favorito desde el sofá de su casa?</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card">
                        <img class="card-img-top w-100 d-block" src="assets/img/avatars/jesus.jpeg" />
                        <div class="card-body info">
                            <h4 class="card-title">Jesús Ramírez Gálvez</h4>
                            <p class="card-text">Conoce los sitios más <em>guays </em>de Madrid.</p>
                            <div class="icons"><a href="https://www.instagram.com/yisusrg_5/"target="=_blank"><i class="icon-social-instagram"></i></a><a href="https://twitter.com/yisusrg05"target="=_blank"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card">
                        <img class="card-img-top w-100 d-block" src="assets/img/avatars/jorge.jpeg" />
                        <div class="card-body info">
                            <h4 class="card-title">Jorge Martínez Ochoa</h4>
                            <p class="card-text">Amante de la comida '<em>veggy'.</em></p>
                            <div class="icons"><a href="https://www.instagram.com/coke_m.o/"target="_blank"><i class="icon-social-instagram"></i></a><a href="https://twitter.com/coke_mtnz?s=20&t=XZq50UELJwy7QcmpIglZmA"target="_blank"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card">
                        <img class="card-img-top w-100 d-block" src="assets/img/avatars/sicilia.jpg" />
                        <div class="card-body info">
                            <h4 class="card-title">Sicilia García Clemente</h4>
                            <p class="card-text">Buscando sitios nuevos que descubrir.</p>
                            <div class="icons"><a href="https://instagram.com/sici_99?utm_medium=copy_link" target="_blank"><i class="icon-social-instagram"></i></a><a href="https://twitter.com/sici__99"target="_blank"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="page-footer dark">
    <div class="container">
        <div class="row justify-content-lg-evenly">
            <div class="col-sm-3">
                <h5>Resumen</h5>
                <ul>
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/login">Iniciar sesion</a></li>
                    <li><a href="/restaurant">Los Restaurantes</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Sobre nosotros</h5>
                <ul>
                    <li><a href="/nosotros">Conócenos</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Soporte y Cuenta</h5>
                <ul>
                    <li><a href="/profile">Mi Perfil</a></li>
                    <li><a href="/register">Regístrate</a></li>
                    <li><a href="/forgottenPassword">¿Olvidaste tu contraseña?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2022 Paco Mérselo.</p>
    </div>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/vanilla-zoom.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>