<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Restaurantes - Paco M&eacute;rselo</title>
    <link rel="shortcut icon" href="assets/img/scenery/logo.jpg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/index">Paco Mérselo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="/restaurant">Los Restaurantes</a></li>
                <li class="nav-item"><a class="nav-link" href="/carrito">El carrito</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page pricing-table-page">
    <section class="clean-block clean-pricing dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-muted">Los Restaurantes</h2>
                <p class="fs-5">Nuestros favoritos y próximamente también los tuyos.</p>
            </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-8">
                        {{#restaurants}}
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3>{{name}}</h3>
                            </div>
                            <p>{{description}}</p>
                            <div class="features">
                                <h4><span class="feature">Tipo de comida: </span><span>{{type}}</span></h4>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-warning d-block w-100" style="margin: 10px" onclick="location.href='/restaurant/{{id}}'" type="button">LA CARTA</button>
                        <button class="btn btn-outline-warning d-block w-100" style="margin: 10px" onclick="location.href='/updateRestaurant/{{id}}'" type="button">ACTUALIZAR</button>
                        <button class="btn btn-outline-warning d-block w-100" style="margin: 10px" onclick="location.href='/deleteRestaurant/{{id}}'" type="button">BORRAR</button>
                        <br>
                        {{/restaurants}}
                    </div>
                </div>
            <button class="btn btn-info d-block w-100" style="margin: 10px" onclick="location.href='/registerRestaurant'" type="button">Registra un restaurante ahora.</button>
        </div>
        <div class="ribbon"><span></span></div>
    </section>
</main>
<footer class="page-footer dark">
    <div class="container">
        <div class="row justify-content-lg-evenly">
            <div class="col-sm-3">
                <h5>Resumen</h5>
                <ul>
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/login">Iniciar sesion</a></li>
                    <li><a href="/restaurant">Los Restaurantes</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Sobre nosotros</h5>
                <ul>
                    <li><a href="/nosotros">Conócenos</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Soporte y Cuenta</h5>
                <ul>
                    <li><a href="/profile">Mi Perfil</a></li>
                    <li><a href="/register">Regístrate</a></li>
                    <li><a href="/forgottenPassword">¿Olvidaste tu contraseña?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2022 Paco Mérselo.</p>
    </div>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/vanilla-zoom.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>