<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Paco Mérselo</title>
    <link rel="shortcut icon" href="assets/img/scenery/logo.jpg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/index">Paco Mérselo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="/index">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
                <li class="nav-item"><a class="nav-link" href="/carrito">El carrito</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page landing-page">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <main id="content">
                <div class="container-fluid">
                    <br>
                    <h3 class="text-dark mb-4">Mi Perfil</h3>
                    <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="assets/img/scenery/logo.jpg" width="160" height="160">
                            </div>
                        </div>
                        <div class="card shadow mb-4"></div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row mb-3 d-none">
                            <div class="col">
                                <div class="card textwhite bg-primary text-white shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card textwhite bg-success text-white shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-muted m-0 fw-bold">User Settings</p>
                                    </div>
                                    <div class="card-body">
                                        <form method="post" action="/profile">
                                            {{#user}}
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="username"><strong>Usuario</strong></label><input class="form-control" type="text" id="username" placeholder="{{username}}" value="{{username}}" name="username"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="email"><strong>Email</strong></label><input class="form-control" type="email" id="email" placeholder="{{email}}" value="{{email}}" name="email"></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="first_name"><strong>Nombre</strong></label><input class="form-control" type="text" id="first_name" placeholder="{{name}}" value="{{name}}" name="name"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3"><label class="form-label" for="last_name"><strong>Apellidos</strong></label><input class="form-control" type="text" id="last_name" placeholder="{{surname}}" value="{{surname}}" name="surname"></div>
                                                </div>
                                            </div>
                                            <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                            {{/user}}
                                        </form>
                                    </div>
                                </div>
                                <div class="card shadow"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-5">
                    <div class="card-header py-3">
                        <p class="text-muted m-0 fw-bold">Mis pedidos</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {{#order}}
                            <div class="col-md-6">
                                    <div class="mb-3"><label class="form-label" ><strong>Pedido #{{number}}</strong><br></label></div>
                            </div>
                            <div class="content">
                                <div class="row g-0">
                                    <div class="col-md-12 col-lg-8">
                                        <div class="items">
                                            <div class="product">
                                                {{#order}}
                                                <div class="row justify-content-center align-items-center">
                                                    <div class="col-md-3">
                                                        <div class="product-image"><img class="img-fluid d-block mx-auto image" src="assets/img/tech/image2.jpg"></div>
                                                    </div>
                                                    <div class="col-md-5 product-info"><a class="product-name" href="#">{{name}}</a>
                                                        <div class="product-specs">
                                                            <div><span>Descripci&oacute;n: &nbsp;</span><span class="value">{{description}}</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-2 quantity"><label class="form-label d-none d-md-block">Quantity</label><input type="number" id="number" class="form-control quantity-input" value="1"></div>
                                                    <div class="col-6 col-md-2 price"><span>{{precio}}€</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary">
                                            <h3>Total</h3>
                                            <h4><span class="text">Total</span><span class="price">{{total}}€</span></h4>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-4">
                                    </div>
                                </div>
                            </div>
                            {{/order}}
                        </div>
                    </div>
                </div>
            </div>
            </main>
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="assets/js/theme.js"></script>
            <footer class="page-footer dark">
                <div class="container">
                    <div class="row justify-content-lg-evenly">
                        <div class="col-sm-3">
                            <h5>Get started</h5>
                            <ul>
                                <li><a href="/index">Home</a></li>
                                <li><a href="/login">Sign up</a></li>
                                <li><a href="/restaurant">Los restaurantes</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h5>About us</h5>
                            <ul>
                                <li><a href="/nosotros">Company Information</a></li>
                                <li><a href="/reviews">Reviews</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h5>Support</h5>
                            <ul>
                                <li><a href="/faq">FAQ</a></li>
                                <li><a href="/profile">Mi Perfil</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <p>© 2022 Paco Mérselo.</p>
                </div>
            </footer>
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
            <script src="assets/js/vanilla-zoom.js"></script>
            <script src="assets/js/theme.js"></script>
</body>

</html>