<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Paco Mérselo</title>
    <link rel="shortcut icon" href="assets/img/scenery/logo.jpg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/index">Paco Mérselo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>{{#roleUser}}<a>Bienvenido, {{username}}</a>{{/roleUser}}{{#roleRestaurant}}<a>Gestiona tu restaurante</a>{{/roleRestaurant}}{{#roleAdmin}}<a>Pagina de Administración</a>{{/roleAdmin}}
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                {{#viewer}}
                <li class="nav-item"><a class="nav-link " href="/index">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
                <li class="nav-item"><a class="nav-link" href="/cart">El carrito</a></li>
                <li class="nav-item"><a class="nav-link active" href="/login">Iniciar Sesión</a></li>
                {{/viewer}}
                {{#roleUser}}
                <li class="nav-item"><a class="nav-link " href="/index">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
                <li class="nav-item"><a class="nav-link" href="/cart">El carrito</a></li>
                <li class="nav-item dropdown no-arrow">
                    <div class="nav-item dropdown no-arrow">
                        <a class=" dropdown-toggle nav-link active" aria-expanded="false" data-bs-toggle="dropdown" href="'#">
                            <span class="d-none d-lg-inline me-2 text-gray-600 small" >{{username}}</span>
                        </a>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--grow in" >
                            <a class ="dropdown-item " href="/profile">
                                <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400">
                                </i>
                                &nbsp;Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class ="dropdown-item "><form action="/logout" method="post">
                                <input type="hidden" name="_csrf" value="{{token}}"/>
                                <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400">
                                </i>
                                <button class="btn btn-sm"  type="submit">CERRAR SESIÓN</button>
                            </form></a>
                        </div>
                    </div>
                </li>
                {{/roleUser}}
                {{#roleAdmin}}
                <li class="nav-item"><a class="nav-link " href="/index">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
                <li class="nav-item dropdown no-arrow">
                    <div class="nav-item dropdown no-arrow">
                        <a class=" dropdown-toggle nav-link active" aria-expanded="false" data-bs-toggle="dropdown" href="'#">
                            <span class="d-none d-lg-inline me-2 text-gray-600 small" >{{username}}</span>
                        </a>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--grow in" >
                            <a class ="dropdown-item " href="/adminPage">
                                <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400">
                                </i>
                                &nbsp;Panel de Control
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class ="dropdown-item "><form action="/logout" method="post">
                                <input type="hidden" name="_csrf" value="{{token}}"/>
                                <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400">
                                </i>
                                <button class="btn btn-sm"  type="submit">CERRAR SESIÓN</button>
                            </form></a>
                        </div>
                    </div>
                </li>
                {{/roleAdmin}}
                {{#roleRestaurant}}
                <li class="nav-item dropdown no-arrow">
                    <div class="nav-item dropdown no-arrow">
                        <a class=" dropdown-toggle nav-link active" aria-expanded="false" data-bs-toggle="dropdown" href="'#">
                            <span class="d-none d-lg-inline me-2 text-gray-600 small" >{{username}}</span>
                        </a>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--grow in" >
                            <a class ="dropdown-item " href="/restaurantControl">
                                <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400">
                                </i>
                                &nbsp;Restaurante
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class ="dropdown-item "><form action="/logout" method="post">
                                <input type="hidden" name="_csrf" value="{{token}}"/>
                                <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400">
                                </i>
                                <button class="btn btn-sm"  type="submit">CERRAR SESIÓN</button>
                            </form></a>
                        </div>
                    </div>
                </li>
                {{/roleRestaurant}}
            </ul>
        </div>
    </div>
</nav><main class="page landing-page">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <br>
                    <h3 class="text-dark mb-4">Mi Restaurant</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="assets/img/restaurants/{{nameRest}}.jpg" width="160" height="160">
                                </div>
                            </div>
                            <div class="card shadow mb-4"></div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-muted m-0 fw-bold">Información del restaurante</p>
                                        </div>
                                        <div class="card-body">
                                            <form method="post" action="/restaurantControl">
                                                <input type="hidden" name="_csrf" value="{{token}}"/>
                                                {{#restaurant}}
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="name"><strong>Nombre</strong></label><input class="form-control" id="name" placeholder="{{name}}" value="{{name}}" name="name" disabled></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="email"><strong>Email</strong></label><input class="form-control" type="email" id="email" placeholder="{{email}}" value="{{email}}" name="email"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="editor">Descripción</label><textarea class="form-label" name="description" id="editor">{{restaurant.description}}</textarea></div>                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="type"><strong>Tipo</strong></label><input class="form-control" type="text" id="type" placeholder="{{type}}" value="{{type}}" name="type"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Guardar cambios</button></div>
                                                {{/restaurant}}
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-5">
                        <div class="card-header py-3">
                            <p class="text-muted m-0 fw-bold">Mis Platos</p>
                        </div>
                        <div class="card-body">
                                <div class="content">
                                    <div class="row g-0">
                                        <div class="col-md-12 col-lg-8">
                                            <div class="items">
                                                <div class="product">
                                                    {{#dishes}}
                                                    <div class="row justify-content-center align-items-center">
                                                        <div class="col-md-2">
                                                            <div class="product-image"><img class="img-fluid d-block mx-auto image" src="assets/img/dishes/{{id}}.jpg"></div>
                                                        </div>
                                                        <div class="col-md-5 product-info"><span class="product-name" >{{name}}</span>
                                                            <div class="product-specs">
                                                                <div><span><b>Descripci&oacute;n:</b> &nbsp;</span><span class="value">{{{description}}}</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-md-2 price"><h4><span>{{price}}€</span></h4></div>
                                                    </div>
                                                    <br>
                                                    <button class="btn btn-outline-warning d-block w-100" style="margin: 10px" onclick="location.href='/restaurantControl/{{nameRest}}/updateDish/{{id}}'" type="button">ACTUALIZAR</button>
                                                    <button class="btn btn-outline-warning d-block w-100" style="margin: 10px" onclick="location.href='/restaurantControl/{{nameRest}}/deleteDish/{{id}}'" type="button">BORRAR</button>
                                                    {{/dishes}}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12 col-lg-4">
                                        </div>
                                        <div class="card shadow"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <button class="btn btn-danger d-block w-50" style="margin: 10px" onclick="location.href='/restaurantControl/deleteRestaurant/{{nameRest}}'" type="button">BORRAR RESTAURANTE</button>
            </main>
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="assets/js/theme.js"></script>
<footer class="page-footer dark">
    <div class="container">
        <div class="row justify-content-lg-evenly">
            <div class="col-sm-3">
                <h5>Resumen</h5>
                <ul>
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/login">Iniciar sesion</a></li>
                    <li><a href="/restaurant">Los Restaurantes</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Sobre nosotros</h5>
                <ul>
                    <li><a href="/nosotros">Conócenos</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Soporte y Cuenta</h5>
                <ul>
                    <li><a href="/profile">Mi Perfil</a></li>
                    <li><a href="/register">Regístrate</a></li>
                    <li><a href="/registerRestaurant">Registra un restaurante</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2022 Paco Mérselo.</p>
    </div>
</footer>            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
            <script src="assets/js/vanilla-zoom.js"></script>
            <script src="assets/js/theme.js"></script>
            <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>

<script>
       ClassicEditor
        .create( document.querySelector( '#editor'),{
        toolbar: [ 'bold', 'italic', 'underline', 'bulletedList', 'numberedList', 'blockQuote' ]
        })
        .catch( error => {
            console.error( error );
        } );
</script>

</body>

</html>