<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>El carrito - Paco M&eacute;rselo</title>
    <link rel="shortcut icon" href="assets/img/scenery/logo.jpg">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/index">Paco Mérselo</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/index">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurant">Los Restaurantes</a></li>
                <li class="nav-item"><a class="nav-link active" href="/carrito">El carrito</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<main class="page shopping-cart-page">
    <section class="clean-block clean-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-muted">Tú carrito</h2>
                <p>Tus platos favoritos están esperando a que los pidas. ¿A qué estás esperando?</p>
            </div>
            <div class="content">
                <div class="row g-0">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                            {{#cart}}
                            <div class="product">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3">
                                        <div class="product-image"><img class="img-fluid d-block mx-auto image" src="assets/img/tech/image2.jpg"></div>
                                    </div>
                                    <div class="col-md-5 product-info"><h1 class="product-name" >{{name}}</h1>
                                            <div class="product-specs">
                                                <div><span>Descripcion:</span><span class="value">{{description}}</span></div>
                                            </div>
                                    </div>
                                        <div class="col-6 col-md-2 price"><span>{{price}}€</span></div>
                                    </div>
                                </div>
                            {{/cart}}
                            </div>

                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="summary">
                                <h3>Resumen</h3>
                                <h4><span class="text">Comida</span><span class="price">{{comida}}€</span></h4>
                                <h4><span class="text">Descuento</span><span class="price">6€</span></h4>
                                <h4><span class="text">Código: Nico eres un crack</span><span class="price">10%</span></h4>
                                <h4><span class="text">Envío</span><span class="price">5€</span></h4>
                                <h4><span class="text">Total</span><span class="price">{{total}}€</span></h4><button class="btn btn-primary btn-lg d-block w-100" type="button">Pagar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</main>
<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Get started</h5>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/login">Sign up</a></li>
                    <li><a href="/restaurant">Los restaurantes</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>About us</h5>
                <ul>
                    <li><a href="/nosotros">Company Information</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Support</h5>
                <ul>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/profile">Mi Perfil</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2022 Paco Mérselo.</p>
    </div>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/vanilla-zoom.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>