<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Pagina de Error</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/search.png" />
    <link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="/css/error.css" />
</head>

<body align="center">
<h1 id="codError">404</h1>
<h2 id="menError">No se ha encontrado la página solicitada</h2>
</body>
</html>